@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Teko:wght@500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Teko", sans-serif;
}

.dark-mode,
body {
    background-color: #111111;
    color-text: #ffff;
    button-background-color: #279de0;
    text-color-principal: #fff;
}

.light-mode {
    background-color: #fff;
    --text-color: #1a1a1a;
    --button-background-color: #9b8afb;
    --text-color-principal: #111111;
}

header {
    background-color: #09447c;
    padding: 1rem 2rem;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 150px;
}

header ul li {
    list-style: none;
}

header ul li a {
    margin: 20px;
    text-decoration: none;
    color: var(--text-color);
}

header ul li a:hover {
    color: #ffffff;
    transition: ease 0.5s;
}

header ul li button {
    width: 8rem;
    height: 3rem;
    background: var(--button-background-color);
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

header .icons {
    color: #ffffff;
}

header .icons i {
    margin: 0.1rem;
}

header .navigation {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

header ul .button {
    display: none;
}

section div {
    color: var(--button-background-color);
    cursor: pointer;
}

main .about h1 {
    position: absolute;
    color: var(--text-color);
    padding: 4rem;
}

main .about h1::before {
    color: #f7c411;
    width: 5rem;
}
